<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../static/prova/css/logout.css">
    <link rel="stylesheet" href="../../static/prova/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/prova/css/fontawesome.css">

    <link rel="shortcut icon" href="../../static/prova/images/brain.png"/>

    <title>CAPIRCI</title>
</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="../../static/prova/images/brain.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <p id="titleCAPIRCI">Logout successful!</p>
            <a href="/accounts/login/">
                <button class="btn login_btn">Back to login page</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>