input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.lateral_menu {
    padding-top: 30px;
    border: 1px solid #b9bbbe;
    width: 20%;
    height: 100%;
    margin-top: 20px;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#dropdownMenuUser {
    color: white;
}

.stile_nav_menu {
    font-size: 20px;
    float: right;
    text-align: right;
    margin-right: 5%;
}

.topnav-right {
    float: right;
}

.sidenav li {
    background-color: #EBEBEB;
    border: hidden;
}

#collapseOne a {
    margin-left: 30px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #EBEBEB;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: darkblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.card-img-top {
    width: 80%;
    height: 50%;
    opacity: 1;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 300px;
    box-sizing: content-box !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3%;
    margin-left: 120px;
    border: 2px solid #ffffff;
}


.card:hover {
    border: 2px solid #00b3ee;
}

.card-row {
    box-sizing: content-box !important;
    float: none;
    margin: 0 auto;
}


@media screen and (min-height: 1025px) {
    .card {
        margin-left: 120px;
    }


}

@media screen and (min-height: 1000px) and (max-height: 1024px) {
    .card {
        margin-left: 50px;
    }

}

@media screen and (max-width: 700px) {
    .card-img-top {
        display: none;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
    }
}


#titlePage {
    color: rgba(0, 0, 0, 0.54);
    margin: 50px 40px 16px;
    font-size: 26px;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.06667em;
    text-align: center;
}

#subTitle {
    color: rgba(0, 179, 238, 1);
    margin: 0 40px 40px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35417em;
    text-align: center;

}

.link-clicked {
    background-color: white;
    color: darkblue !important;
}


.contacts_body {
    padding: 0.75rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card_2 {
    border-radius: 15px !important;
    background-color: white !important;
    border: 1px solid #dedede;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: #ebf5ff;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #ebf5ff;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts > li {
    height: 50px;
    padding-top: 12px;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 2px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 2px solid #f5f6fa;
}

.img_cont {
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    color: black;
}

.user_info span {
    font-size: 20px;
    color: black;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.action_menu ul, .action_menu_robot_list ul, .action_menu_object_list ul, .action_menu_program_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu_style {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.action_menu_btn {
    float: right;
    right: 0;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.task_card_style, .user_card_style, .robot_card_style, .my_robot_card_style, .action_card_style, .object_card_style {
    width: 98%;
}

.programming_card_style {
    width: 98%;
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.program_li {
    height: 40px;
}

.chat {
    width: 800px !important;
    max-height: 200px;
}

.intestazioni span {
    color: #c5c5c5;

}

.info {
    color: #c5c5c5 !important;
    font-size: 18px !important;
}

.column_img {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ededed;
}


/* Style the images inside the grid */
.column_img img {
    opacity: 0.8;
    cursor: pointer;
    width: 100px;
}

.column_img img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
    width: 500px;
}


/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

.modal-content {
    width: 590px;

}

.column_detail_img {
    padding-right: 30px;
    padding-left: 30px;
    width: 50%;
}

.drop_right {
    float: right;
}

.caret-off::before {
    display: none;
    color: black;
    border: hidden;
}

.caret-off::after {
    display: none;
    color: black;
    border: hidden;
}

.caret-off {
    color: black;
    border: hidden;
}

#dropdownMenuButtonTask, #dropdownMenuButtonUser, #dropdownMenuButtonRobot, #dropdownMenuMyRobot {
    padding-top: 1px;
}


.button_white {
    background-color: white;
    color: black;
    border: hidden;
}


.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}

.task_item.row, .intestazioni, .user_item.row, .robot_item.row, .my_robot_item_row {
    flex-wrap: nowrap !important;
}

.intestazioni > span {
    width: 25%;
}

.card_body_task, .card_body_user, .card_body_robot, .card_body_my_robot, .card_body_action, .card_body_object {
    max-height: 400px;
}

.card_body_programming {
    max-height: 400px;
}

.caret-off2::before {
    background-color: #ebf5ff;
    display: none;
    color: black;
    border: hidden;
}

.caret-off2::after {
    background-color: #ebf5ff;
    display: none;
    color: black;
    border: hidden;
}

.caret-off2 {
    background-color: #ebf5ff;
    color: black;
    border: hidden;
}


/***************  CUSTOM CHECKBOX ***************/
.switch_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8px;
    padding-left: 0;
    height: 2em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    /*	-webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;*/
}

/* Switch 1 Specific Styles Start */

.box_1 {
    background: transparent;
}

input[type="checkbox"].switch_1 {
    font-size: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.2em;
    height: 1em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked {
    background: #0080FF;
}

input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 1em);
}

/* Switch 1 Specific Style End */

.tooltip {
    pointer-events: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}