/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white !important;
}

.user_card {
    height: 500px;
    width: 350px;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 179, 238, 1);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;

}

.brand_logo_container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid rgba(0, 179, 238, 1);
    background: white;
    padding-left: 10px;
    text-align: center;
}

.brand_logo {
    height: 90%;
    width: 90%;
    margin-top: 0.3em;
    margin-right: 0.4em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
}

#titleCAPIRCI {
    margin-top: 7vh;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
}

#titleDescription {
    margin-top: 1vh;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}

#titleTryAgain {
    margin-top: 3vh;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}

.form_container {
    margin-top: 2vh;
}

.login_btn {
    width: 100%;
    background: #ff4755 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #ff4755 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 15% 0 0 15% !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
