
body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.chat {
    margin-bottom: 0px;
}

.card {
    height: 100%;
    background-color: #f4f4f4;
    border: hidden;
}

.card_obj {
    height: 500px;
    border-radius: 15px !important;
    background-color: #f4f4f4;
}

.objects_body, .programs_body {
    height: 295px;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.header_utiities {
    border-bottom: 0 !important;
    background-color: #ebf5ff;
    border-color: #ebf5ff;
}

.msg_head {
    border-bottom: 1px solid darkgrey;
    background-color: white;

}

.card-header:first-child {
    border-radius: 0px;
}

.card-footer {
    border-color: #ebf5ff;;
    border-top: 0 !important;
    background-color: #ebf5ff;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
    width: 40px !important;
}

.rec_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    width: 40px;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;

}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.img_cont {

    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;

}

.offline {
    background-color: #c23616 !important;
}

.user_info span {
    font-size: 20px;
    color: black;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

.action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu_btn_program, .action_menu_btn_obj, .action_menu_btn_program {
    float: right;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu_style {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul, .action_menu_robot_list ul, .action_menu_object_list ul, .action_menu_program_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li, .action_menu_robot_list ul li, .action_menu_object_list ul li, .action_menu_program_list ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i, .action_menu_robot_list ul li i, .action_menu_object_list ul li i, action_menu_program_list ul li i {
    padding-right: 10px;

}

.action_menu ul li:hover, .action_menu_robot_list ul li:hover, .action_menu_object_list ul li:hover, action_menu_program_list ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#dropdownMenuUser {
    color: white;
}

#icon_search_obj {
    margin-right: 20px;
}

.program_li {
    height: 40px;
}

.obj_img {
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

#audio_rec {
    width: 210px;
}

.center_rec {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    font-size: 24px;
}

#cancel_icon {
    margin-right: 23px;
    cursor: pointer;
}

#rec_icon {
    margin-left: 23px;
    margin-left: 23px;
    cursor: pointer;
}

#circle_icon {
    color: red;
    font-size: 12px !important;
}

.hidden {
    display: none;
}

.action_menu_program_list {
    margin-top: 91px;
}

@media only screen and (max-width: 400px) {
    #chat_robot_list {
        display: none;
    }

    #chat_obj {
        display: none;
    }
}


#send_btn {
    margin-left: 0px !important;
}

#droppable {
    background: white;
    min-height: 489px;
}

.card-footer:last-child {
    border-radius: 0;
}


/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 12px;
    transition: 0.4s;
    font-size: 16px;
    width: 33.33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #96b4ea;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #96b4ea;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}


.act {
    cursor: pointer;
    overflow: hidden;
    background-color: #29B6F6;
    min-height: 40px;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    margin: auto;
    z-index: 2;
    font-size: 18px;
}

.repeat {
    cursor: pointer;
    overflow: hidden;
    background-color: #00E676;
    min-height: 40px;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    margin: auto;
    z-index: 1;
    height: fit-content;
}

.repeat.canvas {
    height: fit-content !important;
    width: fit-content;

}

.repeat.canvas > table > tbody > tr > th {
    font-size: 20px;
    padding-bottom: 5px;
}


.obj {
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    background-color: #FDD835;
    min-height: 40px;
    width: 58%;
    color: white;
    border-radius: 20px;
    border: white 1px solid;
    text-align: center;
    font-size: 18px;
    z-index: 4;
    margin: auto;
}

.loc {
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fd87fb;
    min-height: 40px;
    width: 58%;
    color: white;
    border-radius: 20px;
    border: white 1px solid;
    text-align: center;
    font-size: 18px;
    z-index: 4;
    margin: auto;
}

.task {
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    background-color: #714cfe;
    min-height: 40px;
    width: fit-content;
    padding-right: 5px;
    padding-left: 8px;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    text-align: center;
    z-index: 4;
    margin: auto;
    font-size: 18px;
}

.event {
    cursor: pointer;
    overflow: hidden;
    background-color: #FF7043;
    min-height: 40px;
    width: auto;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    z-index: 2;
    font-size: 18px;
}

.library {
    margin-bottom: 8px;
}

.library .drop_pick_obj {
    display: none;
}

.library .drop_motion {
    display: none;
}

.library .drop_event {
    display: none;
}

.library.repeat {
    width: 60%;
}


.library.event {
    width: 60%;
}

.event.canvas > table > tbody > tr > th {
    padding-bottom: 16px;
}

.library.act {
    width: 50%;
}

.droppable-hover {
    background: white !important;
    border: white 5px solid;
}

.remove-choice {
    left: 0px;
    top: 0px;
    float: right;
    color: white;
    background-color: transparent;
    border: none;
    font-size: small;
}


.drop_pick_obj {
    display: flex;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 20px;
    background: #e8effa;
    color: #0b2e13;
    font-size: 14px;
    min-width: 125px;

}

.drop_motion {
    min-height: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    background: #e8effa;
    color: #0b2e13;
    font-size: 14px;
    width: fit-content;
    margin-left: 38px;
}

.drop_event {
    min-height: 50px;
    height: fit-content;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    background: #B9F6CA;
    color: #0b2e13;
    font-size: 14px;
    width: 140%;
    margin-left: 5px;
}

.drop_pick_obj > p {
    padding-left: 5px;
    padding-right: 5px;
}

#qty_input {
    width: 70px;
    border-radius: 20px;
}

th {
    font-weight: normal;
}

.raw_left {
    float: left;
    font-size: 18px;
    margin-left: 7px;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}

* {
    box-sizing: border-box
}

/* Style the tab */
.tab {
    float: left;
    background-color: #f4f4f4;
    width: 30%;
    height: 396px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
}

#card_utilities {
    width: 400px;
!important;
}

.text_dark {
    color: #848484;
    text-align: center;
}

#tabMotion {
    border: 3px #B3E5FC solid;
    background-color: #B3E5FC;
    font-weight: bold !important;
    color: black !important;
}

#tabMotion:hover {
    border: 3px #B3E5FC solid;
    background-color: #29B6F6;
    font-weight: bold;
    color: white !important;
}

#tabMotion.active {
    border: 3px #29B6F6 solid;
    color: #29B6F6 !important;
    background-color: #f4f4f4;
    font-weight: bold !important;
}

#tabSupervision {
    color: black !important;
    font-weight: bold !important;
    background-color: #B9F6CA;
    border: 3px solid #B9F6CA;
}

#tabSupervision:hover {
    color: white !important;
    font-weight: bold !important;
    border: 3px solid #B9F6CA;
    background-color: #00E676;
}

#tabSupervision.active {
    border: 3px solid #00E676;
    color: #00E676 !important;
    font-weight: bold !important;
    background-color: #f4f4f4;
}

#tabObjects {
    color: black !important;
    font-weight: bold !important;
    border: 3px solid #FFF176;
    background-color: #FFF176;
}

#tabObjects:hover {
    font-weight: bold !important;
    color: white !important;
    border: 3px solid #FFF176;
    background-color: #FDD835;
}

#tabObjects.active {
    font-weight: bold !important;
    color: #FDD835 !important;
    border: 3px solid #FDD835;
    background-color: #f4f4f4;
}

#tabLocations {
    color: black !important;
    font-weight: bold !important;
    border: 3px solid #fd87fb;
    background-color: #fd87fb;
}

#tabLocations:hover {
    font-weight: bold !important;
    color: white !important;
    border: 3px solid #fd87fb;
    background-color: #b95db7;
}

#tabLocations.active {
    font-weight: bold !important;
    color: #b95db7 !important;
    border: 3px solid #b95db7;
    background-color: #f4f4f4;
}

#tabEvents {
    color: black !important;
    font-weight: bold !important;
    border: 3px solid #FFAB91;
    background-color: #FFAB91;
}

#tabEvents:hover {
    color: white !important;
    font-weight: bold !important;
    border: 3px solid #FFAB91;
    background-color: #FF7043;
}

#tabEvents.active {
    color: #FF7043 !important;
    font-weight: bold !important;
    border: 3px solid #FF7043;
    background-color: #f4f4f4;
}

#tabTasks {
    font-weight: bold !important;
    border: 3px solid #b39afd;
    background-color: #b39afd;
    color: black !important;
}

#tabTasks:hover {
    font-weight: bold !important;
    color: white !important;
    border: 3px solid #b39afd;
    background-color: #714cfe;
}

#tabTasks.active {
    font-weight: bold !important;
    color: #714cfe !important;
    border: 3px solid #714cfe;
    background-color: #f4f4f4;
}

.footer_graphic {
    height: 60px;
    background-color: white;
}

#btn-save {
    float: right;
    margin-left: 10px;
}

#btn-reload {
    float: right;
}

.margin-style {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


.library {
    z-index: 4;
}

.card_utilities {
    left: 0%;
    width: 30%;
    height: 100%;
}

.card_paper {
    right: 0%;
    width: 100%;
    height: 100%;
}

.header_utiities, .footer_utilities {
    background-color: #f4f4f4;
}

.header_utiities {
    height: 50px;
}

.footer_utilities {
    height: 50px;
}

#task_building {
    text-align: center;
    margin-top: 35%;
}

.card_dictionary {
    height: 377px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    height: 349px;
}

#task_building_area {
    border: 2px solid gray;
    border-style: dashed;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    width: 40%;
    margin-left: 30%;
    color: gray;
    font-size: 22px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 13px;
}

#card_error {
    width: 400px;
!important;
    min-height: 130px;
    background-color: #f4f4f4;

}

.card {
    border-radius: 0px !important;
}

.popover {
    /*left:150px!important;*/
}


html {
    overflow-x: hidden;
}

#card_error {

}

.indications {
    margin-left: 10%;
    text-align: justify;
    margin-right: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 3px;
    font-size: 13px;
}

#indications_tasks {
    border: 1px solid #b39afd;
    color: #311B92;
    background-color: #EDE7F6;
}

#indications_events {
    border: 1px solid #F4511E;
    color: #BF360C;
    background-color: #FBE9E7;
}

#indications_controls {
    border: 1px solid #00E676;
    color: #1B5E20;
    background-color: #E8F5E9;
}

#indications_actions {
    border: 1px solid #29B6F6;
    color: #01579B;
    background-color: #E1F5FE;
}

#indications_objects {
    border: 1px solid #FDD835;
    color: #E65100;
    background-color: #FFFDE7;
}

#messaggio_tasks {
    text-align: center;
    font-size: 20px;
    margin-top: 24px;
}


#btn-save, #btn-reload {
    cursor: pointer;
    background-color: white;
    border: hidden;
    color: darkgray;
    margin-right: 15px;
    margin-top: 5px;
}

.material-icons {
    font-size: 30px !important;
}

#title {
    margin-right: 50px;
    font-size: 24px;
    font-weight: 500;
    color: darkslategray;
}

.alert-mio {
    color: darkblue !important;
    background-color: #f7f7f7 !important;
    border-color: lightsteelblue !important;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

.column1 {
    width: 36%;

}

.column2 {
    width: 62%;
}

.tab.column, notab.column {
    width: 30%;
    margin-left: 25px;
}

#card_utilities, #card_error {
    width: 100%;
!important;
}

.col_blocchi {
    width: 61%;
}

.tabcontent {
    width: 100%;
}

/**schermo larghezza <=700px*/
@media screen and (max-width: 1000px) {
    .tab {
        width: 100% !important;
    }

    .col_blocchi {
        width: 100% !important;
    }

    .tab {
        display: none;
    }

    .notab {
        visibility: visible !important;
        margin-left: 30%;
    }

}

.tabactive {
    font-size: 22px;
    font-weight: bold;
    color: #4f4f4f;
}

.card.contacts_card {
    width: 100%;
}

/* Switch 1 Specific Styles Start */

.box_1 {
    background: transparent;
}

input[type="checkbox"].switch_1 {
    font-size: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.2em;
    height: 1em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked {
    background: #0080FF;
}

input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 1em);
}

/* Switch 1 Specific Style End */

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}